
/.git
/.github
/.vscode
/coverage
/dist/test
/src
/test

.env
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.prettierrc
jeet.config.js
tsconfig.json
tslint.json
yarn.lock
package-lock.json

*.log
